---
import '../styles/global.css';
const { children } = Astro.props;
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Olcan Ebrem Portfolio</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Olcan E. Brem'in kişisel portfolyo sitesi" />
    <slot name="head" />
  </head>
  <body class="bg-white text-black dark:bg-gray-900 dark:text-white min-h-screen flex flex-col">
    <Header siteTitle="Olcan E. Brem" />
    <main class="flex-1">
      {children}
    </main>
    <Footer />
  </body>
</html>
