name: Build and Release Payload CMS

on:
  push:
    branches: [payload]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up version
        id: versioning
        run: |
          MAJOR=1
          MINOR=2
          PATCH=$(date +%Y%m%d)
          VERSION="$MAJOR.$MINOR.$PATCH"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "v$VERSION" > version.txt
          echo "::set-output name=version::v$VERSION"

      - name: Configure Git and Push Tag
        env:
          GIT_AUTH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git config user.name "your-github-username"       # Gerekirse değiştir
          git config user.email "your-email@example.com"    # Gerekirse değiştir
          git tag -a $VERSION -m "Version $VERSION"
          git push https://x-access-token:${GIT_AUTH_TOKEN}@github.com/${{ github.repository }} $VERSION

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            olcanebrem/payload-cms:latest
            olcanebrem/payload-cms:${{ env.VERSION }}
