name: Build and Release Payload CMS

on:
  push:
    branches: [payload]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up version
        run: |
          MAJOR=1
          MINOR=2
          PATCH=$(date +%Y%m%d)
          VERSION="$MAJOR.$MINOR.$PATCH"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Push Git Tag
        env:
          VERSION: ${{ env.VERSION }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git config user.name "olcanebrem"
          git config user.email "olcanebrem@gmail.com"
          git tag -a $VERSION -m "Version $VERSION"
          git push https://x-access-token:${PERSONAL_ACCESS_TOKEN}@github.com/${{ github.repository }} $VERSION

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            olcanebrem/payload-cms:latest
            olcanebrem/payload-cms:${{ env.VERSION }}
